<%- include('layout.ejs'); %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Strona Główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Zawodnicy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Najbliższa Gala</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="card">
    <% const editPlayer = "/dashboard/editPlayer/" + player._id%>
    <form method="post" action=<%= editPlayer %>>
        <div class="mb-3">
            <% const playerName =  player.name %>
            <label  class="form-label"><%= playerName %></label>
            <input  name="name" id="name" class="form-control"  value='<%= playerName %>'>
        </div>
        <div class="mb-3">
            <label  class="form-label">Wygrane</label>
            <input name="wins" id="wins" class="form-control"  value=<%= player.wins %>>
        </div>
        <div class="mb-3">
            <label  class="form-label">Remisy</label>
            <input name="draws" id="draws" class="form-control"  value=<%= player.draws %>>
        </div>
        <div class="mb-3">
            <label  class="form-label">Porażki</label>
            <input name="loses" id="loses" class="form-control"  value=<%= player.loses %>>
        </div>
        <div class="mb-3">
            <label class="form-label">Punkty</label>
            <input name="points" id="points" class="form-control" value=<%= player.points %>>
        </div>
        <div class="mb-3">
            <label class="form-label">Federacje</label>
            <input name="federations" id="federations" class="form-control" value='<%= player.federations %>'>
        </div>
        <div class="mb-3">
            <label class="form-label">Ostatnia Walka</label>
            <input name="lastMatch" id="lastMatch" class="form-control" value=<%= player.lastMatch %>>
        </div>
        <div class="mb-3">
          <label class="form-label">Debiut</label>
          <input name="debiut" id="debiut" class="form-control" value=<%= player.debiut %>>
      </div>
      <div class="mb-3">
        <label class="form-label">Aktualny Ranking</label>
        <input name="currentRank" id="currentRank" class="form-control" value=<%= player.currentRank %>>
    </div>
    <div class="mb-3">
      <label class="form-label">Ostatni Ranking</label>
      <input name="lastRank" id="lastRank" class="form-control" value=<%= player.lastRank %>>
  </div>
        <button type="submit" class="btn btn-primary login-button">Edytuj</button>
    </form>
</div>
<div>

    <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>

</body>

</html>